<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebClientUser" type="LSR.WebClient.Configuration.WebClientUser, LSR.WebClient" requirePermission="false" />
    <section name="WsAuth" type="LSR.Security.CredentialConfiguration, LSR.Security" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KikaiDB" connectionString="Data Source=localhost; Initial Catalog=OffersII;Integrated Security=True;User ID=sa;Password=lightspeed;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SampleId" value="40664" />
    <add key="StudyId" value="237233" />
    <add key="ReferenceDetailsExpression" value="" />
    <add key="OfferId" value="" />
    <add key="JSONExpression" value="" />
    <add key="ExternalPid" value="" />
    <add key="InternalPid" value="" />
    <add key="OfferServiceEndpoint" value="http://localhost" />
    <add key="Environment" value="LOCAL" />
    <add key="SteamHeader" value="x-steam-tenantid" />
    <add key="SteamHeaderValue" value="sam" />
    <add key="OfferLink" value="https://devhub.globaltestmarket.com/hub/tplm/welcome" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <WsAuth StoreType="PmpDB">
    <PmpDbStore server="devcatdb02.corp.gmi.lcl" db="webservice" user="developer" pass="it4gmi" />
  </WsAuth>
  <WebClientUser>
    <apiuser username="OfferService" password="#@y^77*YQ][yet$" key="sk55d38d036741e" />
    <services>
      <service name="SampleManager" endpoint="http://devvpdsws01.corp.gmi.lcl/SampleManager/SampleManager.ashx" />
      <service name="SteamStudy" endpoint="http://devpmpwsvip.corp.gmi.lcl:8083" />
      <service name="GMIStudy" endpoint="http://devnetmrwsvip.asp.gmi.lcl/Setsampler/api/netmr/study.php" />
      <service name="QuotaLiveMatch" endpoint="http://devnetmrwsvip.asp.gmi.lcl/Setsampler/api/livematch/quota.php" />
      <service name="HummingbirdUser" endpoint="http://devhbweb02.corp.gmi.lcl/api/user.php" />
      <service name="SteamQuotaService" endpoint="http://devpmpwsvip.corp.gmi.lcl:8097" />
      <service name="SteamExpressionService" endpoint="http://devpmpwsvip.corp.gmi.lcl:8084" />
      <service name="LiveMatch" endpoint="http://devvpdsws01.corp.gmi.lcl/LiveMatch/LiveMatch.ashx" />
      <service name="LiveMatchHistory" endpoint="http://devvpdsws01.corp.gmi.lcl/LiveMatchHistory/LiveMatchHistory.ashx" />
      <service name="RespondentCatalog" endpoint="http://devnetmrwsvip.asp.gmi.lcl/Setsampler/api/thirdparty/respondent.php" />
      <service name="CSSProviders" endpoint="http://devnetmrwsvip.asp.gmi.lcl/Setsampler/api/css/provider.php" />
      <service name="HummingbirdOfferService" endpoint="http://devhbweb02.corp.gmi.lcl/api/offerservice.php" />
    </services>
  </WebClientUser>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>